<!-- app/views/appointment/show.html.erb --> -->
<h1> <%= link_to @appointment.appointment_datetime, doctor_path(@appointment.doctor) %></h1>
<h1> <%= link_to @appointment.appointment_datetime, patient_path(@appointment.patient) %></h1>
